<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználók szerkesztése</title>
</head>
<body>

<h1>Felhasználók szerkesztése</h1>

<form action="/update_user" method="post">
    {% for user in users %}
        <label for="name{{ user.id }}">Név:</label>
        <input type="text" id="name{{ user.id }}" name="name{{ user.id }}" value="{{ user.name }}" required>
        
        <label for="gender{{ user.id }}">Nem:</label>
        <input type="text" id="gender{{ user.id }}" name="gender{{ user.id }}" value="{{ user.gender }}" required>
        <br>
    {% endfor %}
    <button type="submit">Felhasználók adatainak frissítése</button>
</form>




<a href="/">Vissza az indexre</a>

</body>
</html>