<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Állatok szerkesztése</title>


</head>
<body>

<header>
    <h1>Állatok szerkesztése</h1>
    <div class="header-buttons">
        <button onclick="location.href='/'">Vissza az főoldara</button>
        <button onclick="location.href='/'">Táblázat megtekintése</button>
    </div>
</header>




<form action="/allat_frissitese" method="post">
    <table>
        <tr>
            <th>Név</th>
            <th>Nem</th>
            <th>Műveletek</th>
        </tr>
        {% for allat in allatok %}
        <tr>
            <td><input type="text" name="nev{{ allat.id }}" value="{{ allat.nev.capitalize() }}" required></td>
            <td><input type="text" name="nem{{ allat.id }}" value="{{ allat.nem }}" required></td>
            <td>
                <button type="submit" name="action" value="update_{{ allat.id }}">Frissítés</button>
                <button type="submit" name="action" value="delete_{{ allat.id }}">Törlés</button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><button type="submit" name="action" value="update_all">Összes adat frissítése</button></td>
        </tr>
    </table>
</form>



</body>
</html>
