<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Állat adatok</title>



</head>
<body>

<header>
    <h1>Állat hozzáadása</h1>
    <div class="header-buttons">
        <button onclick="location.href='/tablazat'">Táblázat megtekintése</button>
        <button onclick="location.href='/allatmodositasa'">Táblázat szerkesztése</button>
    </div>
</header>


<form action="/allat_hozzaadasa" method="post">
    <label for="nev">Név:</label>
    <input type="text" id="nev" name="nev" required>

    <label for="nem">Nem:</label>
    <select id="nem" name="nem" required>
        <option value="Hím">Hím</option>
        <option value="Nőstény">Nőstény</option>
    </select>

    <button type="submit">Felhasználó hozzáadása</button>
</form>





</body>
</html>
