<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Állat adatok</title>



</head>
<body>

<!--
<header>
    <h1>Állat hozzáadása</h1>
    <div class="header-buttons">
        <button onclick="location.href='/tablazat'">Táblázat megtekintése</button>
        <button onclick="location.href='/allatmodositasa'">Táblázat szerkesztése</button>
    </div>
</header>
-->
<nav>
    <div class="logo">Állatmenhely</div>
    <div class="nav-links">
        <a href="/">Főoldal</a>
        <a href="/tablazat">Táblázat megtekintése</a>
        <a href="/allatmodositasa">Táblázat szerkesztése</a>
        <button onclick="location.href='/'">Regisztráció</button>
        <button onclick="location.href='/'">Belépés</button>
    </div>
</nav>


<form action="/allat_hozzaadasa" method="post">
    <label for="nev">Név:</label>
    <input type="text" id="nev" name="nev" required>

    <label for="nem">Nem:</label>
    <select id="nem" name="nem" required>
        <option value="Hím">Hím</option>
        <option value="Nőstény">Nőstény</option>
    </select>

    <label for="csipszam">Chipszám:</label>
    <input type="number" id="csipszam" name="csipszam">

    <label for="fajta">Fajta vagy jellemzők:</label>
    <input type="text" id="fajta" name="fajta">

    <label for="tipus">Típus (pl. egyértelmű, fajtajellemzőkkel keverék):</label>
    <input type="text" id="tipus" name="tipus">

    <label for="egeszsegiallapot">Egészségi állapot:</label>
    <input type="text" id="egeszsegiallapot" name="egeszsegiallapot">

    <label for="fogazat">Fogazat:</label>
    <input type="text" id="fogazat" name="fogazat">

    <label for="kor">Kor:</label>
    <input type="number" id="kor" name="kor">

    <label for="viselkedes">Viselkedés:</label>
    <input type="text" id="viselkedes" name="viselkedes">

    <label for="egyeb">Egyéb jellemzők:</label>
    <input type="text" id="egyeb" name="egyeb">

    <button type="submit">Állat hozzáadása</button>
</form>






</body>
</html>
