<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Állatok táblázat</title>




</head>
<body>

<header>
    <h1>Állatok táblázat</h1>
    <div class="header-buttons">
        <button onclick="location.href='/'">Vissza az főoldara</button>
        <button onclick="location.href='/allatmodositasa'">Felhasználók szerkesztése</button>
    </div>
</header>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Nem</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nev.capitalize() }}</td>
                <td>{{ user.nem }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>
