<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználói táblázat</title>
</head>
<body>

<h1>Felhasználói táblázat</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Nem</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.gender }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>

